.Forcast-icon{
   margin-left: 20px;
   text-transform: capitalize;
   display: flex;
   justify-content: space-between;
   margin-right: 27px;
}
.min-temperature{
   opacity: 0.7;
}
.weather-forcast{
   padding: 0px 210px;
}
