.loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 570px){
    .submit-btn{
       text-align: center;
       padding-right: 70px;
       padding-left: 20px;       
    }
}