li{
    list-style: none;
    margin-left: -32px;
    text-transform: capitalize;
}
.Weather h2{
    text-transform: capitalize;
}
.main-temp{
    font-size: 53px;
    margin-left: 5px;
}
.Weather ul{
    opacity: 0.7;
} 